In [22]:
#load google drive

In [23]:
# from google.colab import drive
# drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
#imports
import tensorflow as tf 


import numpy as np 
import matplotlib.pyplot as plt
import scipy 
from scipy import signal 
import pandas as pd

import sklearn
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import Normalizer 
from sklearn.preprocessing import normalize
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import datetime, os
from tensorflow.keras.layers import BatchNormalization

print(tf.version)

<module 'tensorflow._api.v2.version' from '/usr/local/lib/python3.7/dist-packages/tensorflow/_api/v2/version/__init__.py'>

In [25]:
# load data from csv format
# the data are the extracted features from  normal and af signals
normalDf = pd.read_csv('/content/drive/MyDrive/norma_final_features.csv')
afDf = pd.read_csv('/content/drive/MyDrive/af_features.csv')

In [26]:
# 150 features are extracted from each signal
normalDf.T.shape
normalDf.head()

,229.15,0.043627,5.2445,229.14,-5.1536,2.4469,13.257,-2.3456,2.3955,13.252,...,43.766,2.2256,1.8838,3.376,6.6391,4.6692,1.9238,1.0182,0.88556,2.6088
0,264.02,0.330810,5.2656,249.76,-5.1750,2.4825,14.038,-2.3688,2.4656,14.039,...,106.4900,29.29000,32.0880,35.69600,33.0030,35.1850,18.22500,7.21970,7.16920,22.7770
1,221.30,0.095699,5.1542,220.77,-5.0393,2.4499,13.112,-2.3531,2.4118,13.108,...,61.2210,9.53830,3.6451,3.14720,3.6210,5.0496,13.93800,1.29780,1.50100,4.0474
2,315.33,0.037787,5.5214,316.12,-5.4175,2.5877,15.996,-2.4755,2.5359,15.992,...,7.0273,0.26556,0.7988,0.70815,0.8338,1.5112,0.85661,0.10632,0.14002,1.6488
3,286.88,0.053783,5.4146,286.92,-5.3100,2.5240,15.196,-2.4124,2.5019,15.195,...,10.3900,1.10640,1.5874,1.05960,1.9942,2.4190,3.69190,0.37979,0.44486,2.7143
4,276.27,0.025490,5.3993,276.62,-5.2996,2.5554,14.881,-2.4502,2.4898,14.873,...,18.4950,0.67383,2.3274,0.99464,1.1401,1.8490,1.92180,0.73999,0.79009,2.2741

In [27]:
# 150 features are extracted from each signal 
afDf.head()
afDf.T.shape

(150, 757)

In [28]:
# formating data with correct format
afDf_with_labels = afDf
afDf_with_labels.columns = range(0,150)
normalDf_with_labels =normalDf
normalDf_with_labels.columns = range(0,150)

In [29]:
# 150 features form 757 af signals are extracted
afDf_with_labels.shape

(757, 150)

In [30]:
afDf_with_labels.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,174.76,0.41295,4.8428,162.40,-4.7569,2.3084,11.314,-2.2152,2.2847,11.312,...,59.520,5.0044,3.2390,3.4548,3.3296,4.2281,31.4940,1.1884,1.0962,4.4551
1,194.29,0.17268,5.0603,191.43,-4.9666,2.3782,12.068,-2.2836,2.3752,12.069,...,51.804,5.5952,4.9190,5.9030,5.2191,7.0563,7.9415,1.2007,1.3051,5.3182
2,228.68,0.34555,5.1147,215.25,-4.9884,2.4058,12.855,-2.3001,2.4311,12.859,...,277.000,40.9820,72.5390,30.6880,27.3670,14.3070,6.6852,8.4535,6.7230,33.4150
3,200.60,0.20087,4.9606,197.70,-4.8051,2.4237,12.464,-2.3403,2.4101,12.462,...,53.948,5.3207,3.5336,4.7143,2.6940,2.3668,1.6475,4.6141,3.4411,4.5377
4,253.55,0.23647,5.3349,248.09,-5.2494,2.4701,13.967,-2.3520,2.4615,13.966,...,99.299,10.8280,28.8660,38.8570,20.3730,7.1464,9.0373,2.9643,2.4024,13.0890

In [31]:
normalDf_with_labels.shape

(5075, 150)

In [32]:
normalDf_with_labels.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,264.02,0.330810,5.2656,249.76,-5.1750,2.4825,14.038,-2.3688,2.4656,14.039,...,106.4900,29.29000,32.0880,35.69600,33.0030,35.1850,18.22500,7.21970,7.16920,22.7770
1,221.30,0.095699,5.1542,220.77,-5.0393,2.4499,13.112,-2.3531,2.4118,13.108,...,61.2210,9.53830,3.6451,3.14720,3.6210,5.0496,13.93800,1.29780,1.50100,4.0474
2,315.33,0.037787,5.5214,316.12,-5.4175,2.5877,15.996,-2.4755,2.5359,15.992,...,7.0273,0.26556,0.7988,0.70815,0.8338,1.5112,0.85661,0.10632,0.14002,1.6488
3,286.88,0.053783,5.4146,286.92,-5.3100,2.5240,15.196,-2.4124,2.5019,15.195,...,10.3900,1.10640,1.5874,1.05960,1.9942,2.4190,3.69190,0.37979,0.44486,2.7143
4,276.27,0.025490,5.3993,276.62,-5.2996,2.5554,14.881,-2.4502,2.4898,14.873,...,18.4950,0.67383,2.3274,0.99464,1.1401,1.8490,1.92180,0.73999,0.79009,2.2741

In [33]:
# joining data into a single matrix

jointDf = pd.concat([afDf_with_labels, normalDf_with_labels])
jointDf.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,174.76,0.41295,4.8428,162.40,-4.7569,2.3084,11.314,-2.2152,2.2847,11.312,...,59.520,5.0044,3.2390,3.4548,3.3296,4.2281,31.4940,1.1884,1.0962,4.4551
1,194.29,0.17268,5.0603,191.43,-4.9666,2.3782,12.068,-2.2836,2.3752,12.069,...,51.804,5.5952,4.9190,5.9030,5.2191,7.0563,7.9415,1.2007,1.3051,5.3182
2,228.68,0.34555,5.1147,215.25,-4.9884,2.4058,12.855,-2.3001,2.4311,12.859,...,277.000,40.9820,72.5390,30.6880,27.3670,14.3070,6.6852,8.4535,6.7230,33.4150
3,200.60,0.20087,4.9606,197.70,-4.8051,2.4237,12.464,-2.3403,2.4101,12.462,...,53.948,5.3207,3.5336,4.7143,2.6940,2.3668,1.6475,4.6141,3.4411,4.5377
4,253.55,0.23647,5.3349,248.09,-5.2494,2.4701,13.967,-2.3520,2.4615,13.966,...,99.299,10.8280,28.8660,38.8570,20.3730,7.1464,9.0373,2.9643,2.4024,13.0890

In [34]:
jointDf.shape

(5832, 150)

In [35]:
normalSize,_=normalDf.shape
afSize,_=afDf.shape
normalLabels= pd.DataFrame(np.ones(normalSize))
afLabels= pd.DataFrame(np.zeros(afSize))
labels=pd.concat([afLabels,normalLabels])

In [36]:
labels.shape

(5832, 1)

In [37]:
#replace nan with zeros
jointDf.fillna(0,inplace=True)

In [38]:
X_train, X_test, y_train, y_test = train_test_split(jointDf, labels, test_size=0.25)

In [39]:
#implement decision tree
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train.values.ravel())

y_pred=clf.predict(X_test)

In [40]:
y_pred=clf.predict(X_test)

In [41]:
# print confusion matrix
con_mat = tf.math.confusion_matrix(labels= y_test, predictions=y_pred).numpy()
print(con_mat)

[[ 183   21]
 [   5 1249]]

In [42]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.9821673525377229